{% extends 'template.html' %}

{% block title %} Welcome to the APP! {% endblock %}

{% block main %}
    <h1>Welcome to the APP!</h1>
    <div>
        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'client_list' %}" class="btn btn-lg btn-primary">List clients</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'login' %}" class="btn btn-lg btn-primary">Login</a>
            </div>
        {% endif %}
    </div>
{% endblock %}