{% extends 'template.html' %}
{% load static %}
{% block title %} Clients List {% endblock %}

{% block main %}
    <h3>Clients List</h3>
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Bio</th>
            <th>Photo</th>
            <th>Document</th>
            <th></th>
        </thead>
        {% for client in clients %}
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.first_name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.age}}</td>
                <td>{{client.salary}}</td>
                <td>{{client.bio}}</td>
                <td>
                    {% if client.photo %}
                        <img src="{{ client.photo.url }}" width="50px">
                    {% endif %}
                </td>
                 <td>{{client.doc.num_doc}}</td>
                <td>
                    <a href="{% url 'client_update' client.id %}" class="btn btn-info"><i class="fas fa-pen"></i></a>
                    <a href="{% url 'client_delete' client.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'client_new' %}" class="btn btn-success">New Client</a>
{% endblock %}