{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Clients List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Bio</th>
            <th>Photo</th>
            <th></th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.first_name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.age}}</td>
                <td>{{client.salary}}</td>
                <td>{{client.bio}}</td>
                <td>
                    {% if client.photo %}
                        <img src="{{ client.photo.url }}" width="50px">
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'client_update' client.id %}">update</a>
                    <a href="{% url 'client_delete' client.id %}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'client_new' %}">New Client</a>
</body>
</html>